.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

img {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    border-radius: 20px 20px 20px 20px;
}

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prep {
    width: 500px;
    height: 100px;
    background-color: hsl(30, 54%, 90%);
    border-radius: 10px 10px 10px 10px;
    padding-left: 20px;
    margin-left: 40px;
}

article {
    width: 600px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

table, th, td {
    border: 1px black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}